.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*/build
DanmakuFlameMaster/build/generated/assets/
DanmakuFlameMaster/build/generated/res/
DanmakuFlameMaster/build/generated/source/aidl/
DanmakuFlameMaster/build/generated/source/r/debug/
DanmakuFlameMaster/build/generated/source/rs/
DanmakuFlameMaster/build/intermediates/blame/
DanmakuFlameMaster/build/intermediates/bundles/debug/aidl/
DanmakuFlameMaster/build/intermediates/bundles/debug/assets/
DanmakuFlameMaster/build/intermediates/bundles/debug/res/
DanmakuFlameMaster/build/intermediates/bundles/default/aidl/
DanmakuFlameMaster/build/intermediates/bundles/default/assets/
DanmakuFlameMaster/build/intermediates/bundles/default/res/
DanmakuFlameMaster/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
DanmakuFlameMaster/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
DanmakuFlameMaster/build/intermediates/incremental/packageDebugAndroidTest/
DanmakuFlameMaster/build/intermediates/incremental/packageDebugResources/merged.dir/
DanmakuFlameMaster/build/intermediates/incremental/packageReleaseResources/merged.dir/
DanmakuFlameMaster/build/intermediates/incremental/processDebugAndroidTestResources/
DanmakuFlameMaster/build/intermediates/incremental/processDebugResources/
DanmakuFlameMaster/build/intermediates/lint/
DanmakuFlameMaster/build/intermediates/manifest/tmp/
DanmakuFlameMaster/build/intermediates/res/merged/
DanmakuFlameMaster/build/intermediates/rs/
DanmakuFlameMaster/build/intermediates/shaders/
DanmakuFlameMaster/build/intermediates/symbols/
IMKit_v2_7_0/build/generated/assets/
IMKit_v2_7_0/build/generated/res/
IMKit_v2_7_0/build/generated/source/aidl/
IMKit_v2_7_0/build/generated/source/rs/
IMKit_v2_7_0/build/intermediates/bundles/debug/aidl/
IMKit_v2_7_0/build/intermediates/bundles/debug/assets/
IMKit_v2_7_0/build/intermediates/bundles/default/aidl/
IMKit_v2_7_0/build/intermediates/bundles/default/assets/
IMKit_v2_7_0/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
IMKit_v2_7_0/build/intermediates/incremental/packageDebugAndroidTest/
IMKit_v2_7_0/build/intermediates/incremental/processDebugAndroidTestResources/
IMKit_v2_7_0/build/intermediates/incremental/processDebugResources/
IMKit_v2_7_0/build/intermediates/lint/
IMKit_v2_7_0/build/intermediates/manifest/tmp/
IMKit_v2_7_0/build/intermediates/rs/
IMKit_v2_7_0/build/intermediates/shaders/
IMsdk/build/generated/assets/
IMsdk/build/generated/res/
IMsdk/build/generated/source/aidl/
IMsdk/build/generated/source/rs/
IMsdk/build/intermediates/bundles/debug/aidl/
IMsdk/build/intermediates/bundles/debug/assets/
IMsdk/build/intermediates/bundles/default/aidl/
IMsdk/build/intermediates/bundles/default/assets/
IMsdk/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
IMsdk/build/intermediates/incremental/packageDebugAndroidTest/
IMsdk/build/intermediates/incremental/processDebugAndroidTestResources/
IMsdk/build/intermediates/incremental/processDebugResources/
IMsdk/build/intermediates/lint/
IMsdk/build/intermediates/manifest/tmp/
IMsdk/build/intermediates/rs/
IMsdk/build/intermediates/shaders/
JPush/build/generated/assets/
JPush/build/generated/res/
JPush/build/generated/source/aidl/
JPush/build/generated/source/rs/
JPush/build/intermediates/bundles/debug/aidl/
JPush/build/inte
rmediates/bundles/debug/assets/
JPush/build/intermediates/bundles/default/aidl/
JPush/build/intermediates/bundles/default/assets/
JPush/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
JPush/build/intermediates/incremental/packageDebugAndroidTest/
JPush/build/intermediates/incremental/processDebugAndroidTestResources/
JPush/build/intermediates/incremental/processDebugResources/
JPush/build/intermediates/lint/
JPush/build/intermediates/manifest/tmp/
JPush/build/intermediates/rs/
JPush/build/intermediates/shaders/
sweet-alert-dialog/build/generated/assets/
sweet-alert-dialog/build/generated/res/
sweet-alert-dialog/build/generated/source/aidl/
sweet-alert-dialog/build/generated/source/rs/
sweet-alert-dialog/build/intermediates/bundles/debug/aidl/
sweet-alert-dialog/build/intermediates/bundles/debug/assets/
sweet-alert-dialog/build/intermediates/bundles/default/aidl/
sweet-alert-dialog/build/intermediates/bundles/default/assets/
sweet-alert-dialog/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
sweet-alert-dialog/build/intermediates/incremental/packageDebugAndroidTest/
sweet-alert-dialog/build/intermediates/incremental/processDebugAndroidTestResources/
sweet-alert-dialog/build/intermediates/incremental/processDebugResources/
sweet-alert-dialog/build/intermediates/lint/
sweet-alert-dialog/build/intermediates/manifest/tmp/
sweet-alert-dialog/build/intermediates/rs/
sweet-alert-dialog/build/intermediates/shaders/
sysj_android.iml
