<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.li.videoapplication">

    <!-- 权限部分 -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="com.screeclibinvoke.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <permission
        android:name="com.li.videoapplication.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.li.videoapplication.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />

    <application
        android:name=".component.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_round"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:allowBackup">

        <activity
            android:name="com.li.videoapplication.ui.activity.AppstartActivity"
            android:theme="@style/AppTheme.Launcher"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.li.videoapplication.ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <data
                android:host="com.li.videoapplication"
                android:pathPrefix="/push_message"
                android:scheme="rong" />
        </activity>
        <activity android:name=".ui.activity.ChoiceFocusGameActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/MyTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.li.videoapplication.ui.activity.ScanQRCodeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.li.videoapplication.ui.activity.CameraRecoedActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.li.videoapplication.ui.activity.CameraRecoedActivity50"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.li.videoapplication.ui.activity.AboutActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.li.videoapplication.ui.activity.CollectionActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.li.videoapplication.ui.activity.MyTaskActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.activity_gift.view.MyActivityListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.NoActionBar" />
        <activity
            android:name=".mvp.activity_gift.view.MyGiftListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.NoActionBar" />
        <activity
            android:name="com.li.videoapplication.ui.activity.GiftDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.li.videoapplication.ui.activity.ActivityDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.NoActionBar" />
        <activity
            android:name="com.li.videoapplication.ui.activity.SettingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DownloadManagerActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.NoActionBar" />
        <activity
            android:name="com.li.videoapplication.ui.activity.SquareActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />


        <activity
            android:name="com.li.videoapplication.ui.activity.SquareGameChoiceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />

        <activity
            android:name="com.li.videoapplication.ui.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light" />
        <activity
            android:name="com.li.videoapplication.ui.activity.PrivacyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.li.videoapplication.ui.activity.GroupListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.billboard.view.BillboardActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.NoActionBar" />
        <activity
            android:name=".mvp.billboard.view.MatchRewardBillboardActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.RecommendActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.li.videoapplication.ui.activity.GroupDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.NoActionBar" />
        <activity
            android:name="com.li.videoapplication.ui.activity.GroupGiftActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.li.videoapplication.ui.activity.MessageListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.li.videoapplication.ui.activity.MyPersonalCenterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.li.videoapplication.ui.activity.MyPersonalInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.li.videoapplication.ui.activity.PersonalInfoEditActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"
            android:theme="@style/MyTheme.NoActionBar" />
        <activity
            android:name="com.li.videoapplication.ui.activity.PlayerPersonalInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.li.videoapplication.ui.activity.MyDynamicActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.li.videoapplication.ui.activity.PlayerDynamicActivity"

            android:screenOrientation="portrait" />
        <activity
            android:name="com.li.videoapplication.ui.activity.MyPlayerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.li.videoapplication.ui.activity.HomeMoreActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.li.videoapplication.ui.activity.ImageDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity android:name=".ui.activity.FeedbackActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/MyTheme.NoActionBar"/>
        <activity
            android:name="com.li.videoapplication.ui.activity.VideoPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyThemeDark"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.li.videoapplication.ui.activity.SearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name="com.li.videoapplication.ui.activity.ReportActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.li.videoapplication.ui.activity.ReportResultActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TagActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.li.videoapplication.ui.activity.ActivityListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.li.videoapplication.ui.activity.GiftListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.activity.RewardRankActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/MyTheme.NoActionBar"></activity>

        <!-- ################################# 2.1.7 支付宝  ######################### -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>

        <!-- ################################# 2.1.4 广点通   ######################### -->
        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false" />
        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <!-- ################################# 2.1.1商城相关   ######################### -->

        <activity
            android:name=".mvp.mall.view.TopUpActivity"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.NoActionBar" />

        <activity
            android:name=".mvp.mall.view.TopUpRecordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.MyWalletActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.NoActionBar" />

        <activity
            android:name=".mvp.mall.view.MyBillDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.MyCurrencyRecordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.ExchangeRecordActivity"
            android:launchMode="singleTask"
            android:theme="@style/MyTheme.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.MallActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.ProductsDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.OrderDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".mvp.match.view.GroupMatchListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.NoActionBar" />
        <activity
            android:name=".mvp.mall.view.PaymentWayActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.NoActionBar" >
            <!--接收 QQ支付后的回调结果     <data android:scheme="qwallet1103189341"/> 会在TenPayment类中使用到-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="qwallet1103189341"/>
            </intent-filter>
        </activity>

        <!--微信支付结果回调-->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent">

        </activity>

        <!-- #################################   赛事相关   ######################### -->
        <activity
            android:name=".mvp.match.view.MatchRecordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.NoActionBar" />

        <activity
            android:name=".mvp.match.view.MatchResultActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.CoachDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.CreatePlayWithOrderActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.NoActionBar" />

        <activity android:name=".ui.activity.CoachInfoEditActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/MyTheme.NoActionBar" ></activity>

        <activity android:name=".mvp.match.view.PlayWithAndMatchActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/MyTheme.NoActionBar" />
        <activity android:name=".ui.activity.PlayWithOrderDetailActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/MyTheme.NoActionBar" />
        <activity android:name=".ui.activity.CommentPlayWithOrderActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/MyTheme.NoActionBar"
                  android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity android:name=".ui.activity.ConfirmOrderDoneActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/MyTheme.NoActionBar"/>
        <activity android:name=".ui.activity.RefundApplyActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden|adjustPan"
                  android:theme="@style/MyTheme.NoActionBar"/>

        <activity android:name=".ui.activity.CoachCommentDetailsActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/MyTheme.NoActionBar"></activity>

        <activity android:name=".ui.activity.ProxyActivity1"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/MyTheme.NoActionBar"></activity>

        <activity android:name=".ui.activity.ProxyActivity2"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/MyTheme.NoActionBar"></activity>
        <!--单聊界面，包括客服-->
        <activity
            android:name=".ui.activity.ConversationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.li.videoapplication"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.match.view.GameMatchDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.NoActionBar"/>
        <!--我的消息-->
        <activity
            android:name="com.li.videoapplication.ui.activity.MyMessageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.li.videoapplication"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.VideoUploadActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.li.videoapplication.mvp.match.view.MyMatchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.NoActionBar" />
        <activity
            android:name="com.li.videoapplication.ui.activity.MyMatchProcessActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.NoActionBar" />
        <activity
            android:name=".mvp.match.view.MyMatchBettleActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.NoActionBar" />
        <activity
            android:name="com.li.videoapplication.ui.activity.SignUpActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.li.videoapplication.ui.activity.UploadMatchResultImageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.VideoChooseActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.NoActionBar" />

        <!-- ################################# 接收者服务   ######################### -->

        <!--网络变化监听-->
        <receiver android:name=".data.connectivity.ConnectivityChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!--下载完成监听-->
        <receiver android:name=".component.receiver.DownloadCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>

        <!--网络请求服务-->
        <service android:name="com.li.videoapplication.data.network.RequestService" />
        <!--初始化数据服务-->
        <service android:name="com.li.videoapplication.component.service.AppStartService"

                 android:exported="true"/>
        <!--更新下载apk服务-->
        <service android:name="com.li.videoapplication.component.service.UpdateService" />
        <!--下载服务-->
        <service android:name="com.li.videoapplication.component.service.DownloadService" />



        <!-- ################################# 录屏部分   ######################### -->

        <activity
            android:name="com.fmsysj.screeclibinvoke.ui.activity.ScreenRecordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fmsysj.screeclibinvoke.ui.activity.ScreenRecordPermissionActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Panel"
            android:launchMode="singleTask"
            android:taskAffinity=":recording"
            android:screenOrientation="unspecified"/>

        <!--录屏服务-->
        <service android:name="com.fmsysj.screeclibinvoke.logic.screenrecord.RecordingService" />


        <!-- ################################# 网页跳转和图片显示部分   ######################### -->

        <activity
            android:name=".ui.activity.ImageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".ui.activity.ImageViewPagerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.NoActionBar"/>

        <activity
            android:name=".ui.activity.ImageDetailSceneActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.Translucent"/>
        <activity
            android:name=".ui.activity.WebActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Fullscreen"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.WebActivityJS"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.VideoEditorActivity2"
            android:theme="@style/MyTheme.NoActionBar"

            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity
            android:name=".ui.activity.VideoMangerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.VideoShareActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SearchLifeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SearchGameActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.HomeImageShareActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ImageShareActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ActivityImageUploadActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ImageViewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.HelpActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.NoActionBar"/>
        <activity
            android:name=".ui.activity.ShareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/custom_dialog" />
        <activity
            android:name=".ui.activity.MyGiftActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.NoActionBar"/>

        <!-- #################################  飞磨IM   ######################### -->

        <activity
            android:name="com.ifeimo.im.activity.ChatActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.ifeimo.im.activity.GroupChatActivity"
            android:alwaysRetainTaskState="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- #################################  融云  ######################### -->
        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="bmdehs6pd3txs"
            tools:replace="android:value" />

        <receiver
            android:name=".rong_im.RongIMPushReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />
            </intent-filter>
        </receiver>

        <!-- ################################# 友盟消息推送   ######################### -->


        <!-- ################################# 友盟统计分析/消息推送/用户反馈   ######################### -->
        <!--UMENG_APPKEY: 5450f180fd98c5a66902c674-->
        <!--UMENG_MESSAGE_SECRET: d75f6bf2b18d152f8c53c02f68963095-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5450f180fd98c5a66902c674" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="d75f6bf2b18d152f8c53c02f68963095" />

        <!-- #################################   ShareSDK   ######################### -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent1103189341" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>

            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />




        <!--####################################################################################-->
        <!--####################################################################################-->
        <!--####################################################################################-->
        <!--####################################################################################-->


        <!-- JSInterface defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name="com.li.videoapplication.tools.JPushHelper$MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.li.videoapplication" />
            </intent-filter>
        </receiver>


    </application>

</manifest>